<div ng-include="'views/partials/header.html'"></div>

<div class="container">
  <div layout="col">
    <h2 class="login">Login</h2>

      <form ng-submit="login()">
        <label for="username">Username:</label>
        <input type="text" ng-model="user.username"/>

        <label for="password">Password:</label>
        <input type="password" ng-model="user.password"/>

        <button class="btn btn-primary" type="submit">Log In</button>

        <a href="#register">Register</a>
      </form>

  </div>
</div>
