<div ng-include="'views/partials/header.html'"></div>

<a href="#/mainPage"><button class="btn btn-primary"> < go back </button></a>
<div class="container">
  <div layout="row">
    <div layout="col">
      <label>Search For Book</label>
      <input ng-model="bookToSearch.name">
      <button class="btn btn-primary" ng-click="findBook()">Search</button>
    </div>

    <div class="currentBookShelf">
      <h2>My Books</h2>
        <div ng-repeat="book in bookShelf.list">
          <ul class="book">
            <li ng-repeat="(key, value) in book">
              <b>{{ key }}:</b> {{ value }}
            </li>
          </ul>
          <br>
        </div>
    </div>
  </div>
</div>
