<div ng-include="'views/partials/header.html'"></div>

<a href="#/mainPage"><button class="btn btn-primary"> < go back </button></a>
<div class="container">
  <div layout="row">
    <div layout="col">
      <label>Search For Book</label>
      <input class="searchBar" ng-model="bookToSearch.name">
      <button class="btn btn-primary" ng-click="findBook()">Search</button>
    </div>

    <div class="currentBookShelf">
      <h2>My Books</h2>
        <div ng-repeat="book in bookShelf.list">
          <ul class="book">
            <img class="image" ng-if="book.thumbnail" ng-src="{{ book.thumbnail }}"/>
            <li class="bookList" ng-repeat="(key, value) in book">
              <b>{{key}}:</b> {{value}}
            </li>
            <button class="btn btn-primary" ng-click="editForm=true">Edit My Comments</button>
              <input class="newBookComments" type="text" ng-show="editForm" ng-model="newComments.input">
              <button class="btn btn-primary" ng-show="editForm" ng-click="editForm=false; editComments()">Submit</button>
            <br>
            <button class="btn btn-primary" ng-click="deleteBook(book)">Delete Book</button>
            <br>
            <label>Book information incorrect?</label>
            <button class="btn btn-primary" ng-click="flagInput=false">yes</button>
            <button class="btn btn-danger" ng-click="flagInput=true">no</button>

              <div class="btn-group" ng-show="flagInput">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Select Incorrect Category
                </button>
                <div class="dropdown-menu">
                  <button class="dropdown-item btn btn-secondary">Title</button>
                    <div class="dropdown-divider"></div>
                  <button class="dropdown-item btn btn-secondary">Authors</button>
                    <div class="dropdown-divider"></div>
                  <button class="dropdown-item btn btn-secondary">Categories</button>
                    <div class="dropdown-divider"></div>
                  <button class="dropdown-item btn btn-secondary">Description</button>
                    <div class="dropdown-divider"></div>
                  <button class="dropdown-item btn btn-secondary">ISBN 10</button>
                    <div class="dropdown-divider"></div>
                  <button class="dropdown-item btn btn-secondary">ISBN 13</button>
                    <div class="dropdown-divider"></div>
                  <button class="dropdown-item btn btn-secondary">Language</button>
                    <div class="dropdown-divider"></div>
                  <button class="dropdown-item btn btn-secondary">Page Count</button>
                    <div class="dropdown-divider"></div>
                  <button class="dropdown-item btn btn-secondary">Published Date</button>
                    <div class="dropdown-divider"></div>
                  <button class="dropdown-item btn btn-secondary">Publisher</button>
                </div>
              </div>

              <input class="flagBook" type="text" ng-show="flagInput" ng-model="flagThisBook.input">
              <button class="btn btn-primary" ng-show="flagInput" ng-click="flagInput=false; addFlag()">Submit</button>
          </ul>
          <br>
          <div id="myComments"></div>
        </div>
    </div>
  </div>
</div>
