a {
    text-decoration: none;
}
input:focus {
  background-image: none;
}
.btn {
    margin: 10px;
}
.headerContainer {
    height: 75px;
    width: auto;
    background-color: lightgrey;
}
.category {
  background-color: lightgrey;
  height: 300px;
  margin: 10px;
  border-radius: 10px;

}
.book {
  background-color: lightgrey;
  border-radius: 10px;
}
.bookList {
  list-style-type: none;
}
.title {
  font-size: 20px;
}
.searchBar {
  background-image: url('/assets/search_icon.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}
