<div layout="column" layout-align="center center">
    <div ng-include="'views/partials/header.html'"></div>
    <h1>Book Results</h1>
        <div class="infoContainer">
                <img class="image" ng-src="{{ bookInfoFromApi.response.items[0].volumeInfo.imageLinks.thumbnail }}"/>
                <!-- <img class="image" ng-src="{{ bookInfoFromApi.response.items[0].volumeInfo.imageLinks.smallThumbnail }}"/> -->
            <ul>
                <li><b>Allow Anon Logging:</b> {{ bookInfoFromApi.allowAnonLogging }} </li>
                <li><b>Authors:</b> {{ bookInfoFromApi.authors }} </li>
                <li><b>Average Rating:</b> {{ bookInfoFromApi.averageRating }} </li>
                <li><b>Canonical Volume Link:</b> {{ bookInfoFromApi.canonicalVolumeLink }} </li>
                <li><b>Categories:</b> {{ bookInfoFromApi.categories }} </li>
                <li><b>Content Version:</b> {{ bookInfoFromApi.contentVersion }} </li>
                <li><b>Description:</b> {{ bookInfoFromApi.description }} </li>
                <li><b>Industry Identifiers:</b>
                    <ul>
                        <li><b>Identifier:</b> {{ bookInfoFromApi.response.items[0].volumeInfo.industryIdentifiers[0].identifier }} </li>
                        <li><b>Type:</b> {{ bookInfoFromApi.response.items[0].volumeInfo.industryIdentifiers[0].type }} </li>
                    </ul>
                    <ul>
                        <li><b>Identifier:</b> {{ bookInfoFromApi.response.items[0].volumeInfo.industryIdentifiers[1].identifier }} </li>
                        <li><b>Type:</b> {{ bookInfoFromApi.response.items[0].volumeInfo.industryIdentifiers[1].type }} </li>
                    </ul>
                <li><b>Info Link:</b> {{ bookInfoFromApi.infoLink }} </li>
                <li><b>Language:</b> {{ bookInfoFromApi.language }} </li>
                <li><b>Page Count:</b> {{ bookInfoFromApi.pageCount }} </li>
                <li><b>Published Date:</b> {{ bookInfoFromApi.publishedDate }} </li>
                <li><b>Maturity Rating:</b> {{ bookInfoFromApi.maturityRating }} </li>
                <li><b>Preview Link:</b> {{ bookInfoFromApi.previewLink }} </li>
                <li><b>Print Type:</b> {{ bookInfoFromApi.printType }} </li>
                <li><b>Published Date:</b> {{ bookInfoFromApi.publishedDate }} </li>
                <li><b>Publisher:</b> {{ bookInfoFromApi.publisher }} </li>
                <li><b>Ratings Count:</b> {{ bookInfoFromApi.ratingsCount }} </li>
                <li><b>Reading Modes:</b>
                    <ul>
                        <li><b>Image:</b> {{ bookInfoFromApi.response.items[0].volumeInfo.readingModes.image }}
                        <li><b>Text:</b> {{ bookInfoFromApi.response.items[0].volumeInfo.readingModes.text }}
                    </ul>
                <li><b>Title:</b> {{ bookInfoFromApi.title }} </li>
            </ul>
        </div>
            <button class="btn btn primary" ng-click="addBook(bookInfoFromApi.response)">Add to Bookshelf</button>
</div>
