<div class="col">
    <div ng-include="'views/partials/header.html'"></div>
        <div class="container" ng-repeat="book in bookInfoFromApi.volumeInfo">
            <h1>Book Results</h1>
              <ul class="book">
                  <img class="image" ng-if="book.thumbnail" ng-src="{{ book.thumbnail }}"/>
                  <li class="bookList" ng-repeat="(key, value) in book">
                      <b>{{key}}:</b> {{value}}
                  </li>
              </ul>


          <div class="infoContainer" class="col">
              <ul>
                  <li ng-repeat="author in bookInfoFromApi.authors"><b>Authors:</b> {{ author }} </li>
              </ul>
          </div>

         <!--
         <h2 class="title">{{ bookInfoFromApi.title }} </h2>
         <div class="infoContainer" class="col">
                  <img class="image" ng-if="bookInfoFromApi.thumbnail" ng-src="{{ bookInfoFromApi.thumbnail }}"/>
                  <img class="image" ng-if="bookInfoFromApi.smallThumbnail" ng-src="{{ bookInfoFromApi.smallThumbnail }}"/>
              <ul>
                  <li><b>Allow Anon Logging:</b> {{ bookInfoFromApi.allowAnonLogging }} </li>
                  <li><b>Authors:</b> {{ bookInfoFromApi.authors }} </li>
                  <li><b>Average Rating:</b> {{ bookInfoFromApi.averageRating }} </li>
                  <li><b>Canonical Volume Link:</b> {{ bookInfoFromApi.canonicalVolumeLink }} </li>
                  <li><b>Categories:</b> {{ bookInfoFromApi.categories }} </li>
                  <li><b>Content Version:</b> {{ bookInfoFromApi.contentVersion }} </li>
                  <li><b>Description:</b> {{ bookInfoFromApi.description }} </li>
                  <li><b>Industry Identifiers:</b>
                      <ul>
                          <li><b>1.</b></li>
                            <ul>
                              <li><b>Identifier:</b> {{ bookInfoFromApi.isbn10 }} </li>
                              <li ng-if="bookInfoFromApi.response.items[0].volumeInfo.industryIdentifiers[0].type"><b>Type:</b> {{ bookInfoFromApi.response.items[0].volumeInfo.industryIdentifiers[0].type }} </li>
                            </ul>
                      </ul>
                      <ul>
                          <li><b>2.</b></li>
                            <ul>
                              <li><b>Identifier:</b> {{ bookInfoFromApi.isbn13 }} </li>
                              <li ng-if="bookInfoFromApi.response.items[0].volumeInfo.industryIdentifiers[1].type"><b>Type:</b> {{ bookInfoFromApi.response.items[0].volumeInfo.industryIdentifiers[1].type }} </li>
                            </ul>
                      </ul>
                  <li><b>Info Link:</b> {{ bookInfoFromApi.infoLink }} </li>
                  <li><b>Language:</b> {{ bookInfoFromApi.language }} </li>
                  <li><b>Page Count:</b> {{ bookInfoFromApi.pageCount }} </li>
                  <li><b>Published Date:</b> {{ bookInfoFromApi.publishedDate }} </li>
                  <li><b>Maturity Rating:</b> {{ bookInfoFromApi.maturityRating }} </li>
                  <li><b>Preview Link:</b> {{ bookInfoFromApi.previewLink }} </li>
                  <li><b>Print Type:</b> {{ bookInfoFromApi.printType }} </li>
                  <li><b>Published Date:</b> {{ bookInfoFromApi.publishedDate }} </li>
                  <li><b>Publisher:</b> {{ bookInfoFromApi.publisher }} </li>
                  <li><b>Ratings Count:</b> {{ bookInfoFromApi.ratingsCount }} </li>
                  <li><b>Reading Modes:</b>
                      <ul>
                          <li><b>Image:</b> {{ bookInfoFromApi.response.items[0].volumeInfo.readingModes.image }}
                          <li><b>Text:</b> {{ bookInfoFromApi.response.items[0].volumeInfo.readingModes.text }}
                      </ul>
              </ul>
            -->
          </div>

             <button class="btn btn-primary" ng-click="addBook(bookInfoFromApi)">Add to Bookshelf</button>
</div>
