<div ng-include="'views/partials/header.html'"></div>

<a href="#/mainPage"><button class="btn btn-primary"> < go back </button></a>
<div class="container">
  <div layout="row">
    <div layout="col">
      <label>Search For Book</label>
      <input class="searchBar" ng-model="bookToSearch.name">
      <button class="btn btn-primary" ng-click="findBook()">Search</button>
    </div>

    <div class="currentBookShelf">
      <h2>My Books</h2>
        <div ng-repeat="book in bookShelf.list">
          <ul class="book">
            <li class="bookList" ng-repeat="(key, value) in book">
              <b>{{key}}:</b> {{value}}
            </li>
            <div>
            <button class="btn btn-primary" ng-click="editForm=true">Edit Comments</button>
              <input class="newBookComments" ng-show="editForm" ng-model="newComments.input">
              <button class="btn btn-primary" ng-show="editForm" ng-click="editForm=false; editComments(book)">Submit</button>
            </div>
            <button class="btn btn-primary" ng-click="deleteBook(book)">Delete Book</button>
          </ul>
          <br>
          <div id="myComments"></div>
        </div>
    </div>
  </div>
</div>
