<div ng-include="'views/partials/header.html'"></div>

<a href="#/mainPage"><button class="btn btn-primary"> < go back </button></a>
<div class="container">
  <div layout="row">
    <div layout="col">
      <label>Search For Book</label>
      <input class="searchBar" ng-model="bookToSearch.name">
      <button class="btn btn-primary" ng-click="findBook()">Search</button>
    </div>

    <div class="currentBookShelf">
      <h2>My Books</h2>
        <div ng-repeat="book in bookShelf.list">
          <ul class="book">
            <img class="image" ng-if="book.thumbnail" ng-src="{{ book.thumbnail }}"/>
            <li class="bookList" ng-repeat="(key, value) in book">
              <b>{{key}}:</b> {{value}}
            </li>
            <button class="btn btn-primary" ng-click="editForm=true">Edit My Comments</button>
              <input class="newBookComments" type="text" ng-show="editForm" ng-model="newComments.input">
              <button class="btn btn-primary" ng-show="editForm" ng-click="editForm=false; editComments()">Submit</button>
            <br>
            <button class="btn btn-primary" ng-click="deleteBook(book)">Delete Book</button>
            <br>
            <label>Book information incorrect?</label>
            <button class="btn btn-primary" ng-click="flagBook=false">yes</button>
            <button class="btn btn-primary" ng-click="flagBook=true">no</button>
              <input class="flagBook" type="text" ng-show="flagBook" ng-model="flagThisBook.input">
              <button class="btn btn-primary" ng-show="flagBook" ng-click="flagBook=false; flagBook()">Submit</button>
          </ul>
          <br>
          <div id="myComments"></div>
        </div>
    </div>
  </div>
</div>
