<div ng-include="'views/partials/header.html'"></div>

<a href="#/mainPage"><button class="btn btn-primary"> < go back </button></a>
<div class="container">
  <div layout="row">
    <div layout="col">
      <label>Search For Book</label>
      <input class="searchBar" ng-model="bookToSearch.name">
      <button class="btn btn-primary" ng-click="findBook()">Search</button>
    </div>

    <div class="currentBookShelf">
    	<h2>My Books</h2>
        <div ng-repeat="book in bookShelf.list">
          <ul class="book">
            <img class="image" ng-if="book.thumbnail" ng-src="{{ book.thumbnail }}"/>
            <li class="bookList" ng-repeat="(key, value) in book" ng-if="key != 'small_thumbnail' &&
                                                                         key != 'thumbnail' &&
                                                                         key != 'user_id' &&
                                                                         key != '__v' &&
                                                                         key != '_id'">
              <b>{{key}}:</b> {{value}}
            </li>
            <button class="btn btn-primary" ng-click="editForm=true">Edit My Comments</button>
              <input class="newBookComments" type="text" ng-show="editForm" ng-model="newComments.input">
              <button class="btn btn-primary" ng-show="editForm" ng-click="editForm=false; editComments()">Submit</button>
            <br>
            <button class="btn btn-primary" ng-click="deleteBook(book)">Delete Book</button>
            <br>
              <label>Book information correct?</label>
              <button class="btn btn-primary" ng-click="flagInput=false">yes</button>
              <button class="btn btn-danger" ng-click="flagInput=true">no</button>

                <!-- <div class="btn-group" ng-show="flagInput">
                  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Incorrect Category
                  </button>
                  <div class="dropdown-menu">
                    <button class="dropdown-item btn btn-secondary" ng-click="selectFromDropdown('Title')">Title</button>
                      <div class="dropdown-divider"></div>
                    <button class="dropdown-item btn btn-secondary" ng-click="selectFromDropdown('Authors')">Authors</button>
                      <div class="dropdown-divider"></div>
                    <button class="dropdown-item btn btn-secondary" ng-click="selectFromDropdown('Categories')">Categories</button>
                      <div class="dropdown-divider"></div>
                    <button class="dropdown-item btn btn-secondary" ng-click="selectFromDropdown('Description')">Description</button>
                      <div class="dropdown-divider"></div>
                    <button class="dropdown-item btn btn-secondary" ng-click="selectFromDropdown('ISBN 10')">ISBN 10</button>
                      <div class="dropdown-divider"></div>
                    <button class="dropdown-item btn btn-secondary" ng-click="selectFromDropdown('ISBN 13')">ISBN 13</button>
                      <div class="dropdown-divider"></div>
                    <button class="dropdown-item btn btn-secondary" ng-click="selectFromDropdown('Language')">Language</button>
                      <div class="dropdown-divider"></div>
                    <button class="dropdown-item btn btn-secondary" ng-click="selectFromDropdown('Page Count')">Page Count</button>
                      <div class="dropdown-divider"></div>
                    <button class="dropdown-item btn btn-secondary" ng-click="selectFromDropdown('Published Date')">Published Date</button>
                      <div class="dropdown-divider"></div>
                    <button class="dropdown-item btn btn-secondary" ng-click="selectFromDropdown('Publisher')">Publisher</button>
                  </div>
                </div>  -->
                  <p class="flagInputLabel" ng-show="flagInput"><b>What information is incorrect?</b></p>
                  <input class="flagBook" type="text" ng-show="flagInput" ng-model="flagThisBook.input">
                  <button class="btn btn-primary" ng-show="flagInput" ng-click="flagInput=false; addFlag()">Submit</button>
          </ul>
        </div>
    </div>
  </div>
</div>
