<div ng-include="'views/partials/header.html'"></div>

<div class="container">
  <div class="col selectdemoValidations">
    <h2 class="registerUser">Register User</h2>

  <form ng-submit="registerUser()">
    <label for="username">Username:</label>
      <input type="text" ng-model="user.username"/>
    <label for="password">Password:</label>
      <input type="password" ng-model="user.password"/>
    <button class="btn btn-primary" type="submit">Register</button>
    <a href="#home">Cancel</a>
  </form>

  </div>
</div>
